/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */


.sticky {}

.bypostauthor {}

/**
 * Alignment
 */

.alignnone {
  margin: $margin-vertical-base $margin-horizontal-large $margin-vertical-large 0;
}

.aligncenter {
  display: block;
  margin: $margin-vertical-base auto;
}

.alignright {
  float: right;
  margin: $margin-vertical-base 0 $margin-vertical-large $margin-horizontal-large;
}

.alignleft {
  float: left;
  margin: $margin-vertical-base $margin-horizontal-large $margin-vertical-large 0;
}


/**
 * Gallery & images
 */

.wp-caption {
  position: relative;
  width: auto !important;

  & img {
    height: auto;
    border: 0 none;

    @include reset-box;
  }

  &.alignnone img{
    width: 100% !important;
  }
}

.wp-caption .wp-caption-text,
.gallery-caption {
  background: rgba(0,0,0, 0.8);
  color: white;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0;
  font-size: 13px;
  padding: 5px;
}
